{% extends '../fantasy/base.html' %}
{% load static %}

{% block title %}Fantasy TFT{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}

    {% for field in form.visible_fields %}
      <div class="form-group row">
        <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{field.label}}</label>
        <div class="col-sm-10">
          {{ field }}
          <small class='form-text text-muted'>{{field.help_text}}</small>
          {% for error in field.errors %}
            <div class="invalid-feedback" style="display: block;">
              {{error}}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    <div class="invalid-feedback" style="display: block;">
      {{ form.non_field_errors }}
    </div>
    <p class="lead">
      <button type="submit" class="btn btn-lg btn-secondary">Log In</button>
    </p>
  </form>
{% endblock %}
